
.row-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 700;
  .column {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }
}

.page-report {
  display: flex;
  flex-direction: column;
  margin: 29px auto;
}

.scene-number {
  font-weight: bold;
}

.prompt-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  .prompt-text {
    color: black;
    background: #b7b7b7;
  }
  .user-prompt-text {
    color: white;
    background: #1762A7;
  }
  .master-prompt-text {
    color: black;
    background: #bcc1cb;
  }
  .prompt-icon-speaker {
    width: 80px;
    height: 100%;
    margin-left: 70px;
    cursor: pointer;
    &:hover {
      color: rgb(223, 144, 144)
    }
  }
  .playing-audio {
    color: red;
  }
  .user-response-speaker {
    margin-right: 70px;
  }

  .prompt-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 19px;
    padding: 14px;
    line-height: 15px;
    font-family: 'Open Sans';
    min-width: 200px;
  }

  .user-prompt-container {
    display: flex;
    align-items: center;
  }
}
.prompt-bubble.hide-bubble {
  display: none;
}

.img-report-container {
    display: flex;
    justify-content: center;
}
