
.row-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 700;
  .column {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }
}


.prompt-container {
  display: flex;
  align-items: center;
  .prompt-text {
    background: #b7b7b7;
  }
  .user-prompt-text {
    background: #5c8ae3;
  }
  .prompt-icon-speaker {
    width: 80px;
    height: 100%;
    margin-left: 70px;
    cursor: pointer;
    &:hover {
      color: rgb(223, 144, 144)
    }
  }
  .playing-audio {
    color: red;
  }
  .user-response-speaker {
    margin-right: 70px;
  }

  .prompt-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    border-radius: 19px;
    padding: 14px;
    color: black;
    font-weight: 700;
    min-width: 200px;
  }

  .user-prompt-container {
    display: flex;
    align-items: center;
  }
}
