//Login Main Container
.login {
  margin: 50px auto;
  text-align: center;
  flex-direction: column;
  width: 27em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: #fff;
    background: rgba(63, 61, 87, 0.83);
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    width: 100%;
    padding-bottom: 17px;
  }
}

.toggle-register-login {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width:768px) { 

  .login {
    margin: 35px auto;
    width: initial;
    .container {
      box-shadow: 0px 0px 0px 0px rgba(15, 15, 15, 0.2);
    }
  }

  .toggle-register-login { 
    position: initial;
    margin-top: 15px;
  }
}
