@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CMontserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CRoboto:300,regular,500');

$white-color: white;

h2 {
  margin: 0;
}

body {
  background: #333;
}

.App {
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: $white-color;
  .cancel {
    color: $white-color;
  }

  .hide {
    display: none;
  }

}

nav {
  #mobile-nav {
    display: none;
  }
  ul#desktop-nav {
    padding: 30px 15px;
    margin: 0 70px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    li.logo-brand-container {
      position: absolute;
      top: 0px;
      left: 30px;
      img.logo-brand {
        width: 245px;
      }
    }
    li {
      cursor: pointer;
      // padding: 0px 35px;
      padding-right: 50px;
      a {
        color: $white-color;
        text-decoration: none;
      }
      a.active {
        font-weight: 900;
      }
      font-size: 13px;
    }
  }
}


//Button
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.94rem;
  padding: 6px 4px;
  min-width: 115px;
  max-width: 170px;
  border: 0;
  border-radius: 4px;
  height: 38px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.btn-large {
  max-width: none;
  width: 100%;
}

.btn-small {
  padding: 0px 6px;
  border-radius: 10px;
}

.btn-blue {
  background-color: #3498db;
  color: #fff;
  a {
    color: white;
  }
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}

.btn-dark-blue {
  background-color: #333;
  color: white;
  font-weight: 700;
  border: 2px solid #1762A7;
  a {
    color: white;
  }
  &:hover {
    background-color: rgb(18, 18, 18);
  }
  &:focus {
    outline: none;
  }
}

.btn-dark-orange {
  background-color: #333;
  color: white;
  font-weight: 700;
  border: 2px solid #FF5C2F;
  a {
    color: white;
  }
  &:hover {
    background-color: rgb(18, 18, 18);
  }
  &:focus {
    outline: none;
  }
}

.btn-orange {
  background: #FF5C2F;
  color: white;
  font-weight: 600;
  &:hover {
    background-color: rgba(230, 68, 10, 0.633);
  }
}

.btn-white {
  background: white;
  color: black;
  font-weight: 600;
  transition: all 200ms ease-in;
  &:hover {
    background: rgb(223, 223, 223);
  }
}

.btn-green {
  background: #17A762;
  color: white;
  &:hover {
    background: rgb(75, 211, 75);
  }
}

.btn-red {
  background: rgba(255, 92, 47, 0.37);
  color: white;
}

.btn-dark-blue-active {
  background-color: rgb(18, 18, 18);
}

.btn-dark-blue-disable {
  border: pink solid 1px;
  background: #d60025;
  color: white;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  .cancel {
    margin-left: 23px;
  }
}

.react-spinner-container {
  margin: 80px auto;
  display: flex;
  justify-content: center;
}

// CSS TRANSITION
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 16%;
  margin-top: 6%
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}
/////////////////////

//mobile layout
@media (max-width:768px) { 

  nav {
    #mobile-nav {
      display: block;
      
      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img.logo-brand {
          width: 245px;
        }
      }
    }
    ul#desktop-nav {
      display: none;
    }
  }

  // main {
  //   margin: auto 10px;
  // }
}
