//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
}

nav {
  margin: auto 210px;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li {
      padding-right: 12px;
      cursor: pointer;
      &:last-child {
        padding-right: 0px;
      }
    }
  }
}

h1 {
  text-align: center
}

main {
  margin: auto 205px;
}

//Button
.btn {
  font-size: 1.1rem;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  .cancel {
    margin-left: 23px;
  }
}

.react-spinner-container {
  display: flex;
  justify-content: center;
}

@media (max-width:768px) { 
  nav {
    margin: 0 0;
    ul {
      padding: 0px;
      display: flex;
      justify-content: center;
      list-style: none;
      li {
        padding-right: 12px;
        &:last-child {
          padding-right: 0px;
        }
      }
    }
  }

  main {
    margin: auto 25px;
  }
}