.top-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

// Record Button
.bottom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-record {
	font-size: 0;
	background-color: red;
	border: 0;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.notRec{
  width: 35px;
	height: 35px;
  border-radius: 35px;
	background-color: darkred;
}

.Rec{
  width: 35px;
	height: 35px;
  border-radius: 0px;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#story-content {
  background: black;
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  .subtitle-caption {
    position: absolute;
    top: 0px;
    background: #000000ba;
    padding: 11px 16px;
    font-size: 1.2rem;
  }
  .prompt-caption {
    position: absolute;
    bottom: 0px;
    background: #000000ba;
    padding: 11px 16px;
    font-size: 1.2rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.speech-text-container {
  display: flex;
  width: 100%;
  #speech-to-text{
    font-size: 1.6rem;
    padding: 12px 11px;
  }
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}