.media-content{
  margin-top: 11% !important;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

// Record Button
.bottom-buttons {
  position: absolute;
  bottom: 24px;
  right: 0px; 
  .btn {
    font-weight: bold;
  }
}
.btn-record {
	// font-size: 0;
	// background-color: red;
	border: 0;
  outline: none;
  cursor: pointer;
  border: white 2px solid;
  transition: all .3s ease-in-out;
}

.notRec{
  width: 35px;
	height: 35px;
  border-radius: 35px;
  background-color: darkred;
  .mic-record-icon {
    width: 100%;
    height: 20px;
  }
}

.Rec{
  width: 35px;
	height: 35px;
  border-radius: 100%;
  background: #333;
  .mic-record-icon {
    padding-top: 2px;
    width: 17px;
    height: 19px;
  }
	// animation-name: pulse;
	// animation-duration: 1.5s;
	// animation-iteration-count: infinite;
	// animation-timing-function: linear;
}

.column {
  width: 45%;
}

.first-column {
  text-align: center;
  max-width: 500px;
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    // padding: 0 42px;
  }
  .btn {
    margin-bottom: 22px;
  }
}

.second-column {
  margin-top: 140px;
  margin-left: 70px;
  text-align: center;
  position: relative;
  .instruction {
    display: flex;
    align-items: center;
    // justify-content: center;
    // background: #1762A7;
    border-radius: 10px;
    // width: 225px;
    margin: 0 auto;
    // padding: 12px;
    font-size: 0.94rem;
  }
  .hide-prompt {
    visibility: hidden;
  }
  .container-prompt {
    display: flex;
    align-items: center;
  }
  .show-prompt {
    padding: 12px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 55px;
    // visibility: visible;
    border-radius: 10px;
    // background: rgba(0, 0, 0, 0.73);
    background: #1762A7;
  }
  audio {
    display: none;
  }
}

#story-content {
  // background: black;
  position: relative;
  // height: 45vh;
  height: 410px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  max-height: 622px;

  .subtitle-caption {
    position: absolute;
    bottom: 1px;
    background: #000000ba;
    padding: 11px 16px;
    // font-size: 1.2rem;
    font-size: 14px;
    max-width: 298px;
    width: 100%;
  }
  .prompt-caption {
    position: absolute;
    top: 0px;
    background: #000000ba;
    padding: 11px 16px;
    font-size: 1.2rem;
  }
  img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 100%;
  }
}
.hide-element {
  display: none;
}
.speech-text-container {
  color: black;
  margin-top: 15px;
  // max-width: 300px;
  min-width: 150px;
  display: flex;
  align-items: center;
  width: 100%;
  .users-prompt-audio {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-left: 4px;
    margin-right: 7px;
    background: #333;
    border: 2px solid white;
    cursor: pointer;
    .prompt-icon-speaker {
      width: 1.2rem;
      height: 16px;
    &:hover {
      .prompt-icon-speaker {
        color: rgb(223, 144, 144)
      }
    }
    }
  }
  #speech-to-text{
    border-radius: 10px;
    padding: 12px 11px;
    background: white;
  }
}

@keyframes pulse {
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}