.top-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

// Record Button
.bottom-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.btn-record {
	font-size: 0;
	background-color: red;
	border: 0;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.notRec{
  width: 35px;
	height: 35px;
  border-radius: 35px;
  background-color: darkred;
  border: white 2px solid;
  .mic-record-icon {
    width: 100%;
    height: 20px;
  }
}

.Rec{
  width: 35px;
	height: 35px;
  border-radius: 0px;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.column {
  width: 45%;
}

.first-column {
  margin-top: 1%;
  text-align: center;
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }
  .btn {
    margin-bottom: 22px;
  }
}

.second-column {
  margin-top: 115px;
  margin-left: 70px;
  text-align: center;
  position: relative;
  .instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1762A7;
    border-radius: 10px;
    width: 225px;
    margin: 0 auto;
    padding: 12px;
  }
  .hide-prompt {
    visibility: hidden;
  }
  .show-prompt {
    padding: 12px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    visibility: visible;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.73);
  }
  audio {
    display: none;
  }
}

#story-content {
  background: black;
  position: relative;
  // height: 45vh;
  height: 410px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  .subtitle-caption {
    position: absolute;
    bottom: 0px;
    background: #000000ba;
    padding: 11px 16px;
    font-size: 1.2rem;
  }
  .prompt-caption {
    position: absolute;
    top: 0px;
    background: #000000ba;
    padding: 11px 16px;
    font-size: 1.2rem;
  }
  img {
    // width: 100%;
    cursor: pointer;
    width: 330px;
    height: 100%;
  }
}
.hide-element {
  display: none;
}
.speech-text-container {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  width: 100%;
  background: #1762A7;
  border-radius: 10px;
  #speech-to-text{
    padding: 12px 11px;
  }
  .prompt-icon-speaker {
    position: absolute;
    top: 50px;
    width: 38px;
    height: 100%;
    cursor: pointer;
    &:hover {
      color: rgb(223, 144, 144)
    }
  }
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}